
<div class="page-header">
  <h1>All of the Users</h1>
</div>

<%= form_tag users_path, :method => 'get', :id => "users_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>

<% end %>
<% @users.each do |user| %>

<div class="status">
  <div class="span1">

 <%= link_to image_tag(user.gravatar_url), profile_path(user.username) %>   <strong><%= user.first_name %>  <%= user.last_name %></strong>


  <% if current_user %>
   <% if current_user.friends.include?(user) || current_user.username == user.username %>
   (<%= link_to "Remove Friend",   friendships_path(user), :method => :delete %>)
   <%= @user.friendship %>
<% else %>
     (<%= link_to "Follow", friendships_path(:friend_id => user.id), :method => :post%>)
<% end %>
<% end %>

  
 </div>
 </div>
<% end %>
<ol class= "pagination">
<%= will_paginate @users %>

