<div class="left">
<%= image_tag(@user.gravatar_url) %> 
  <strong> <%= @user.first_name %> <%= @user.last_name %></strong>
<br />
<br />
  <a href="<%= following_user_path(@user) %>">
  <%= @user.friends.count %>
    following
  </a>

  
  <a href="<%= followers_user_path(@user) %>">
  <%= @user.inverse_friends.count %>  followers
  </a>

  <h4>Info</h4>
 <h5>Username: <%= @user.username %></h5>
  <h5>Email: <%= @user.email %></h5>
    <h5>Rank: <%= @user.rank %></h5>
</div>


<div class="right">
<h3><%= @user.name %>'s Feed</h3>
<hr />

  <% if current_user %>
   <% if current_user.friends.include?(@user) || current_user.username == @user.username %>
<% else %>
  <%= link_to "Follow", friendships_path(:friend_id => @user.id), :method => :post, class: "btn btn-primary"%>
<% end %>
<% end %>

 <% @activities.each do |activity| %>  
  <div class="activity">  
  <% if activity.trackable %> 

  <%= render_activity activity %> 
</div>
<% end %>
<% end %>
</div>









   