<% if current_user %>
<div class="left">

<%= image_tag(current_user.gravatar_url) %> 
  <strong> <%= current_user.first_name %> <%= current_user.last_name %>(@<%= current_user.username %>)</strong>
<br />
<br />
  <a href="<%= following_user_path(current_user) %>">
  <%= current_user.friends.count %>
    following
  </a>

  
  <a href="<%= followers_user_path(current_user) %>">
  <%= current_user.inverse_friends.count %>  followers
  </a>




</div>
<div class="right">
<h1>My Feed</h1>  

<hr />

<%= link_to "Post a New Status", new_status_path, class: "btn btn-success" %>
<hr />

<% @activities.each do |activity| %>  
  <div class="activity">  
  <% if activity.trackable %> 

  <%= render_activity activity %> 

<% end %>
  </div>  


<% end %>

   <%= will_paginate @activities %>

  <% else %>
  <div class="jumbotron">
  <h1>Welcome to Bounce!</h1>
  <p>A Twitter clone in Rails, with a few cool features of it's own...</p>
  <p><a class="btn btn-primary btn-lg" role="button" href="/register">Try it Today!</a></p>
</div>
 <% end %>
 </div>r